.header {
  position: relative;
  z-index: 100;
  padding: 15px 0;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (max-width: 767px) {
  .header {
    padding: 7px 0 16px;
  }
}
.header .inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .inner {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.header__burger {
  position: relative;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header__burger {
    width: 20px;
    height: 15px;
  }
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentcolor;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  .header__burger::before, .header__burger::after {
    height: 1px;
  }
}
.header__burger::before {
  top: 6px;
}
@media (max-width: 767px) {
  .header__burger::before {
    top: 5px;
  }
}
.header__burger::after {
  top: 13px;
}
@media (max-width: 767px) {
  .header__burger::after {
    top: 9px;
  }
}
.header__burger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: currentcolor;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  .header__burger span {
    height: 1px;
  }
}
.header__burger span:first-child {
  top: 0;
}
.header__burger span:last-child {
  bottom: 0;
}
.header__logo {
  position: relative;
  z-index: 10;
  width: 198px;
  height: 48px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 96px;
    height: 23px;
  }
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-self: end;
}
.header__tel {
  margin-right: 20px;
  text-decoration: none;
}
@media (max-width: 1259px) {
  .header__tel {
    margin-right: 0;
  }
}
@media (min-width: 769px) {
  .header__tel:hover {
    color: #0c7e7f;
  }
}
@media (max-width: 767px) {
  .header__tel span {
    display: none;
  }
}
.header__tel svg {
  display: none;
  width: 19px;
  height: 19px;
}
@media (max-width: 767px) {
  .header__tel svg {
    display: block;
  }
}
.header__menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 5;
  margin: 0;
  padding: 40px 40px 80px;
  list-style: none;
  text-align: center;
  background: #1c1c1c;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 1259px) {
  .header__menu {
    position: static;
    padding: 0;
  }
}
.header__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .header__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.header__link {
  position: relative;
  font: 24px/1.3 "FoglihtenNo06", "Times New Roman", serif;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 1259px) {
  .header__link {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .header__link {
    font-size: 15px;
  }
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentcolor;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 769px) {
  .header__link:hover::before {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media (max-width: 1259px) {
  .header__container {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    padding: 40px 40px 80px;
    background: #1c1c1c;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media (max-width: 767px) {
  .header__container {
    padding: 60px 20px 40px;
  }
}
@media (max-width: 1259px) {
  .header__ui-button {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .header__ui-button {
    margin-top: 25px;
  }
}
.header__shadow {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 0;
  width: 100%;
  height: calc(100vh - 100%);
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header--burger {
  background-color: #1c1c1c;
  color: #fff;
}
.header--burger .header__burger::before, .header--burger .header__burger::after {
  opacity: 0;
}
.header--burger .header__burger::before {
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
}
.header--burger .header__burger::after {
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}
.header--burger .header__burger span:first-child, .header--burger .header__burger span:last-child {
  top: 50%;
}
.header--burger .header__burger span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header--burger .header__burger span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .header--burger .header__logo {
    -webkit-transform: scale(1.9) translateY(20px);
    transform: scale(1.9) translateY(20px);
  }
}
.header--burger .header__menu {
  visibility: visible;
  opacity: 1;
}
.header--burger .header__ui-button {
  color: #fff;
  border-color: #fff;
}
@media (min-width: 769px) {
  .header--burger .header__ui-button:hover {
    color: #0c7e7f;
    border-color: #0c7e7f;
  }
}
.header--burger .header__ui-button:active {
  color: #fff;
}
.header--burger .header__shadow {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1259px) {
  .header--burger .header__container {
    visibility: visible;
    opacity: 1;
  }
}